<template>
  <nuxt-link
    :to="link"
    class="btn btn-action text-uppercase d-inline-flex justify-content-center align-items-center"
  >
    <div
      class="btn-content d-inline-flex justify-content-center align-items-center"
    >
      <div class="btn-content__text">
        <slot />
      </div>
      <i class="btn-icon material-icons">arrow_forward</i>
    </div>
  </nuxt-link>
</template>

<script>
/* eslint-disable */
import { TimelineMax, Power4 } from 'gsap/all'
/* eslint-enable */
export default {
  name: 'BtnAction',
  props: {
    link: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      hover: false
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-action {
  --btn-width: 48px;
  --btn-height: 48px;
  --btn-icon-margin-left: 0.5rem;
  --btn-icon-x: 0rem;

  text-decoration: none;
  border-radius: 2rem;
  position: relative;
  height: var(--btn-height);
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  user-select: none;

  .btn-content {
    font-size: 0.8rem;
    font-weight: 500;
    place-items: center;

    &__text {
      position: relative;
      top: 1px;
    }
  }

  .btn-icon {
    position: relative;
    transition: all 0.35s var(--primary-ease);
    font-size: 1rem;
    margin-left: var(--btn-icon-margin-left);
    transition: all 0.5s var(--ease-primary);
    transform: translateX(var(--btn-icon-x));
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    inline-size: var(--btn-width);
    block-size: var(--btn-height);
    border-radius: 2rem;
    background-color: transparentize($dark, 0.9);
    transition: width 0.5s var(--ease-primary);
    z-index: -1;
  }

  &:hover {
    --btn-width: 100%;
    --btn-icon-margin-left: 1rem;
    --btn-icon-x: 0.5rem;
  }

  box-shadow: none;
  outline: none;
  border: 0px solid transparent;
}
</style>
