<template>
  <nuxt-link :to="link" class="btn-close circle-link">
    <div
      class="btn-close__inner d-flex justify-content-center align-items-center"
    >
      <i class="material-icons">close</i>
    </div>
  </nuxt-link>
</template>

<script>
/* eslint-disable */
import { TweenMax, Power4 } from 'gsap/all'
/* eslint-enable */

export default {
  name: 'BtnClose',
  props: {
    link: {
      type: String,
      default: ''
    }
  },
  mounted() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
.btn-close {
  position: fixed;
  top: 3rem;
  right: 30px;
  z-index: 10;
  text-decoration: none;

  @include media-breakpoint-up(lg) {
    top: 4rem;
    right: 4rem;
  }

  .btn-close__inner {
    cursor: pointer;
    inline-size: 3rem;
    block-size: 3rem;
    background-color: transparentize($dark, 0.95);
    border-radius: 50%;
    backdrop-filter: blur(1rem);

    user-select: none;
    transition: all 1s var(--ease-primary);

    i.material-icons {
      font-size: 1rem;
    }

    &:hover {
      background-color: transparentize($dark, 0);
      color: white;

      i.material-icons {
        position: relative;
        animation: bounce 1.2s infinite;
      }
    }
  }
}
</style>
