<template>
  <footer ref="footer" class="footer position-relative">
    <div ref="footerContainer" class="container">
      <div class="row">
        <div class="col-12 col-lg-4 mb-5">
          <div class="d-flex">
            <img
              class="footer__logo"
              src="logo_light.svg"
              alt="Mochi / Vaanres Logo"
            />
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-5">
          <section-small title="Credits">
            <p class="text-secondary">
              Designed & Developed
              <br />by
              <a
                class="v-link"
                target="_blank"
                href="https://vannguyen-uxui.web.app/"
                >Van Nguyen</a
              >
            </p>
            <p class="text-secondary mb-0">
              <small>Ho Chi Minh City, VN</small>
            </p>
            <p class="text-secondary mb-0">
              <small>© Copyright Van Nguyen</small>
            </p>
          </section-small>
        </div>
        <div class="col-12 col-lg-4 mb-5">
          <section-small title="Reminder">
            <p class="text-secondary">
              Gala Royale — 63 Mạc Đĩnh Chi, W. Đa Kao, D. 1
            </p>
            <h4 class="section-small__highlight">
              <span class="d-block">Saturday</span>
              <span class="d-block">April 18</span>
              <span class="d-block">2020</span>
            </h4>
          </section-small>
        </div>
      </div>
    </div>
    <ScrollUp />
  </footer>
</template>
<script>
/* eslint-disable */
import { TimelineMax, Power4, TweenMax } from 'gsap/all'
/* eslint-enable */
import ScrollUp from '~/components/ScrollUp'
import SectionSmall from '~/components/SectionSmall'

export default {
  name: 'Footer',
  components: { ScrollUp, SectionSmall },
  mounted() {
    this.watchFooter()
  },
  methods: {
    watchFooter() {
      const { footer } = this.$refs
      const scene = this.$scrollmagic
        .scene({
          triggerElement: footer,
          triggerHook: 0.85,
          reverse: false
        })
        .setTween(
          TweenMax.fromTo(
            'footer.footer .footer__logo',
            1,
            { opacity: 0, scale: 0.5, y: 32 },
            {
              opacity: 1,
              scale: 1,
              y: 0,
              ease: Power4.easeOut
            }
          )
        )

      this.$scrollmagic.addScene(scene)
    }
  }
}
</script>

<style lang="scss" scoped>
.footer {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: white;

  &__logo {
    width: 5rem;
    height: 5rem;
  }
}
</style>
