<template>
  <header class="header container">
    <b-navbar class="p-0">
      <b-navbar-brand to="/">
        <img
          class="header__logo"
          src="logo_light.svg"
          alt="Mochi / Vaanres Logo"
        />
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <!-- <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item
            v-for="(item, index) in links"
            :id="index"
            :key="index"
            :to="item.link"
            class="header__link"
            >{{ item.title }}</b-nav-item
          >
        </b-navbar-nav>
      </b-collapse>-->
    </b-navbar>
    <ScrollBar />
  </header>
</template>

<script>
import ScrollBar from '~/components/ScrollBar'

export default {
  name: 'Header',
  components: { ScrollBar },
  data() {
    return {
      links: [
        {
          title: 'M&V Wedding',
          link: '/'
        },
        {
          title: 'Gallery',
          link: '/Gallery'
        }
      ]
    }
  }
}
</script>
<style lang="scss">
.header {
  height: 100%;

  &__logo {
    width: 5rem;
    height: 5rem;
  }

  .nav-item {
    & ~ .nav-item {
      margin-left: 2rem;
    }
  }
}
</style>
