<template>
  <section
    class="section section-hero d-flex justify-content-center align-items-sm-center"
  >
    <div class="container">
      <div class="row no-gutters hero-main">
        <div
          class="col-12 col-md-4 hero-content d-flex justify-content-start align-items-sm-center"
        >
          <div class="hero-content__text mt-5 mb-5">
            <div ref="heroTagLine" class="hero-tagline tag-line text-secondary">
              Mochi & Vaanres
            </div>
            <h1 ref="heroTitle" class="hero-title mb-0">
              <span
                ref="heroTitleFirst"
                class="hero-title__word hero-title__word__first d-block"
                >Happy</span
              >
              <span
                ref="heroTitleLast"
                class="hero-title__word hero-title__word__last d-block"
                >Forever</span
              >
            </h1>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div
            :class="getSwiperRatio"
            class="hero-slider-wrapper embed-responsive"
          >
            <div class="hero-slider embed-responsive-item">
              <div
                ref="heroSliderMask"
                class="hero-slider-mask hero-slider-mask__left"
              ></div>
              <HomeSwiper />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { TimelineMax, Power4, TweenMax } from 'gsap/all'
import HomeSwiper from '~/components/HomeSwiper'

export default {
  components: { HomeSwiper },
  data() {
    return {
      swiperRatio: '4by3'
    }
  },
  computed: {
    getSwiperRatio() {
      return `embed-responsive-${this.swiperRatio}`
    },
    loadingStatus() {
      return this.$store.state.global.loadingStatus
    }
  },
  watch: {
    loadingStatus() {
      if (!this.loadingStatus) {
        this.revealAnimation()
      }
    }
  },
  mounted() {
    // this.revealAnimation()
    this.getTimelineReady()
    this.swiperRatioHandler()
  },
  methods: {
    swiperRatioHandler() {
      this.swiperRatio = this.isMobile() ? '1by1' : '4by3'
    },
    getTimelineReady() {
      TweenMax.set('.section-hero .hero-slider', { scaleY: 0 })
      TweenMax.set('.section-hero .hero-slider-mask', { scaleY: 1 })
      TweenMax.set('.section-hero .hero-tagline', { y: 32, opacity: 0 })
      TweenMax.set('.section-hero .hero-title__word', {
        y: 32,
        rotationX: 90,
        opacity: 0.5
      })
    },

    getTimeline() {
      const timeline = new TimelineMax({ paused: true })

      timeline.to('.section-hero .hero-slider', 0.35, {
        scaleY: 1,
        transformOrigin: '0% -100%'
      })

      timeline.to('.section-hero .hero-slider-mask', 0.5, {
        scaleY: 0,
        transformOrigin: '0 100%'
      })

      timeline.to(
        '.section-hero .hero-tagline',
        1,
        {
          y: 0,
          opacity: 1,
          ease: Power4.easeOut
        },
        '-=0.5s'
      )

      timeline.staggerTo(
        '.section-hero .hero-title__word',
        1,
        {
          rotationX: 0,
          y: 0,
          opacity: 1,
          transformOrigin: '0 100%',
          ease: Power4.easeOut
        },
        0.15,
        '-=0.5'
      )

      return timeline
    },
    getTimelineMobile() {
      const timeline = new TimelineMax({ paused: true })

      timeline.to('.section-hero .hero-tagline', 1, {
        y: 0,
        opacity: 1,
        ease: Power4.easeOut
      })

      timeline.staggerTo(
        '.section-hero .hero-title__word',
        1,
        {
          rotationX: 0,
          y: 0,
          opacity: 1,
          transformOrigin: '0 100%',
          ease: Power4.easeOut
        },
        0.15,
        '-=0.5'
      )

      timeline.to(
        '.section-hero .hero-slider',
        0.35,
        {
          scaleY: 1,
          transformOrigin: '0% -100%'
        },
        '-=0.5'
      )

      timeline.to(
        '.section-hero .hero-slider-mask',
        1,
        { scaleY: 0, transformOrigin: '0 100%' },
        '-=0.5'
      )

      return timeline
    },
    revealAnimation() {
      const tl = this.isMobile() ? this.getTimelineMobile() : this.getTimeline()

      tl.play()

      document
        .querySelector('.section-hero .hero-slider-wrapper')
        .classList.add('v-shadow')

      /* const scene = this.$scrollmagic
        .scene({
          triggerElement: '.section.section-hero',
          triggerHook: 0.5,
          reverse: false
        })
        .setTween(tl)

      this.$scrollmagic.addScene(scene) */
    }
  }
}
</script>

<style lang="scss">
.hero {
  &-content {
    z-index: 3;
  }

  &-slider {
    position: relative;
    transition-timing-function: var(--ease-slide);

    &-mask {
      transform: translate3d(0px, 0px, 0px);
      backdrop-filter: blur(1rem);

      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: transparentize($gray-300, $amount: 0.2);
      z-index: 2;

      transition-timing-function: var(--ease-slide);
    }
  }
}
</style>
