<template>
  <section
    class="section section-home-gallery section-spacing d-flex justify-content-center align-items-sm-center"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="home-gallery">
            <HomeGalleryItem
              v-for="(item, index) in images"
              :id="`home-gallery-item-${index}`"
              :key="`home-gallery-item-${index}`"
              :index="index"
              :image="item.url"
              :description="item.description"
              :date="item.date"
              :location="item.location"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { TweenMax, Power4 } from 'gsap/all'
import HomeGalleryItem from '~/components/HomeGalleryItem'

export default {
  name: 'HomeGallery',
  components: { HomeGalleryItem },
  data() {
    return {
      images: [
        {
          url: 'img/gallery/wall_1.jpg',
          location: 'Sai Gon',
          date: 'Nov 10, 2019',
          description: 'Walking around city'
        },
        {
          url: 'img/gallery/wall_2.jpg',
          location: 'Sai Gon',
          date: 'Nov 10, 2019',
          description: 'Walking around city'
        },
        {
          url: 'img/gallery/wall_3.jpg',
          location: 'Sai Gon',
          date: 'Nov 10, 2019',
          description: 'Walking around city'
        },
        {
          url: 'img/gallery/wall_4.jpg',
          location: 'Sai Gon',
          date: 'Nov 10, 2019',
          description: 'Walking around city'
        }
      ]
    }
  },
  mounted() {
    // this.scrollMagicReady()
  },
  methods: {
    scrollMagicReady() {
      const tween2 = TweenMax.staggerFromTo(
        '.gallery-item.odd',
        10,
        { top: 0 },
        { top: -100, ease: Power4.linear },
        0.2
      )

      const scene2 = this.$scrollmagic
        .scene({
          triggerElement: '.home-gallery',
          duration: 1000
        })
        .setTween(tween2)
        .addIndicators({ name: 'stag' })

      // this.$scrollmagic.addScene(scene)
      this.$scrollmagic.addScene(scene2)
    }
  }
}
</script>

<style lang="scss" scoped>
@supports (display: grid) {
  .home-gallery {
    --gallery-col: 1;
    display: grid;

    grid-column-gap: 5rem;
    grid-row-gap: 5rem;

    grid-template-columns: repeat(var(--gallery-col), 1fr);

    @include media-breakpoint-up(md) {
      --gallery-col: 2;
    }
  }
}
</style>
