<template>
  <section
    class="section section-home-introduction section-spacing section-dots bg-top d-flex justify-content-center align-items-sm-center"
  >
    <img
      v-lazy="'img/general/flowers/flower_left_middle_cut.png'"
      class="flower flower__left_middle"
      alt="Mochi Vaanres Flowers Left Middle"
    />

    <div class="container">
      <div class="row justify-content-start mb-5 mb-lg-0">
        <div class="col-12 col-sm-4"></div>
        <div class="col-12 col-sm-4">
          <section-small title="The Date">
            <h4 class="section-small__highlight">
              <span class="d-block">Saturday</span>
              <span class="d-block">April 18</span>
              <span class="d-block">2020</span>
            </h4>
          </section-small>
        </div>
      </div>
      <div class="row justify-content-end mb-5 mb-lg-0">
        <div class="col-12 col-sm-4">
          <section-small title="The Location">
            <h4 class="section-small__highlight mb-3">
              <span class="d-block">Gala</span>
              <span class="d-block">Royale</span>
            </h4>
            <p class="text-secondary">63 Mạc Đĩnh Chi, W. Đa Kao, D.1</p>
          </section-small>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-12 col-sm-4"></div>
        <div class="col-12 col-sm-4">
          <section-small title="The Invitation">
            <p class="marry-me">
              <span class="text-secondary d-block"
                >Join the celebration as</span
              >
              <span class="d-block">Lê Nhựt Anh Thư & Nguyễn Lê Văn</span>
              <span class="text-secondary">say</span>
              <b>"I do"</b>
            </p>
          </section-small>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
/* eslint-disable */
import { TimelineMax, Power4, TweenMax } from 'gsap/all'
/* eslint-enable */

import SectionSmall from '~/components/SectionSmall'

export default {
  name: 'HomeIntroduction',
  components: { SectionSmall },
  mounted() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
.section-home-introduction {
  min-height: calc(100vh - 20rem);
  position: relative;

  .container {
    position: relative;
  }
  .introduction-date {
    font-family: $font-family-serif;

    position: absolute;
    font-weight: 700;
    font-size: 20vw;
    line-height: 1;
    //line-height: 22vw;

    -webkit-text-stroke-color: $color-block;
    -webkit-text-stroke-width: 1px;
    color: transparent;

    &__day {
      top: 20%;
      left: 0%;
    }
  }
}
</style>
