<template>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div
        v-for="(item, index) in heroImages"
        :id="`swiper-slide-${index}`"
        :key="`swiper-slide-${index}`"
        class="swiper-slide"
      >
        <div
          :data-background="item.link"
          class="slide-inner swiper-lazy d-flex align-items-center justify-content-center"
        >
          <div class="v-loader"></div>
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination d-none d-sm-block"></div>

    <div class="swiper-button-container d-flex d-sm-none">
      <div class="swiper-button-prev-v"></div>
      <div class="swiper-button-next-v"></div>
    </div>
  </div>
</template>

<script>
import Swiper from 'swiper'

export default {
  name: 'HomeSwiper',

  data() {
    return {
      swiper: null,
      heroImages: [
        {
          link: 'img/slider/slide_1.jpg'
        },
        {
          link: 'img/slider/slide_2.jpg'
        },
        {
          link: 'img/slider/slide_3.jpg'
        }
      ]
    }
  },
  mounted() {
    this.initSwiper()
  },
  methods: {
    initSwiper() {
      const interleaveOffset = 0.5

      const swiperOptions = {
        autoplay: {
          delay: 5000,
          disableOnInteraction: false
        },
        loop: true,
        speed: 1000,
        grabCursor: true,
        watchSlidesProgress: true,
        keyboard: {
          enabled: true,
          onlyInViewport: false
        },
        preloadImages: true,
        lazy: {
          loadPrevNext: true,
          loadPrevNextAmount: 1,
          loadOnTransitionStart: true
        },
        on: {
          progress() {
            const swiper = this
            for (let i = 0; i < swiper.slides.length; i++) {
              const slideProgress = swiper.slides[i].progress
              const innerOffset = swiper.width * interleaveOffset
              const innerTranslate = slideProgress * innerOffset
              swiper.slides[i].querySelector('.slide-inner').style.transform =
                'translate3d(' + innerTranslate + 'px, 0, 0)'
            }
          },
          touchStart() {
            const swiper = this
            for (let i = 0; i < swiper.slides.length; i++) {
              swiper.slides[i].style.transition = ''
            }
          },
          setTransition(speed) {
            const swiper = this
            for (let i = 0; i < swiper.slides.length; i++) {
              swiper.slides[i].style.transition = speed + 'ms'
              swiper.slides[i].querySelector('.slide-inner').style.transition =
                speed + 'ms'
            }
          }
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet(index, className) {
            return `<span class='${className}'></span>`
          }
        },
        navigation: {
          nextEl: '.swiper-button-next-v',
          prevEl: '.swiper-button-prev-v'
        }
      }

      this.swiper = new Swiper('.swiper-container', swiperOptions)
    }
  }
}
</script>

<style lang="scss" scoped>
.swiper {
  &-container {
    width: 100%;
    height: 100%;
  }

  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: $gray-200;
    width: 100%;
    height: 100%;

    .slide-inner {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-size: cover;
      background-position: center;
    }
  }
}
</style>
