<template>
  <section class="section section-happy">
    <div
      class="hero d-flex justify-content-center align-items-center will-change"
    >
      <div class="background-wrap">
        <div class="bg">
          <!-- style="background-image:url('img/general/happy.png')" -->
        </div>
      </div>
      <div class="container">
        <div class="d-flex justify-content-center align-items-center">
          <h1 class="section-happy-title mb-0 will-change">Happy Forever</h1>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
/* eslint-disable */
import { TweenMax, Power2 } from 'gsap/all'
/* eslint-enable */

export default {
  name: 'HomeHappy',
  mounted() {
    this.reavealAnimation()
  },
  methods: {
    reavealAnimation() {
      // const _this = this
      const sceneHero = this.$scrollmagic
        .scene({
          triggerElement: '.hero',
          triggerHook: 0,
          duration: '200%'
        })
        .setTween(
          TweenMax.to(
            document.querySelector('.hero .background-wrap .bg'),
            1.5,
            {
              opacity: 0,
              scale: 1.5,
              ease: Power2.easeOut
            }
          )
        )

      const sceneHeroTitle = this.$scrollmagic
        .scene({
          triggerElement: '.hero',
          triggerHook: 0,
          duration: '200%'
        })
        .setTween(
          TweenMax.to(
            document.querySelector('.hero .section-happy-title'),
            1.5,
            {
              y: '300%',
              opacity: 0,
              ease: Power2.easeOut
            }
          )
        )

      const sceneReady = this.$scrollmagic
        .scene({
          triggerElement: '.section.section-happy',
          triggerHook: 1
        })
        .setClassToggle(
          '.hero .background-wrap .bg, .hero .section-happy-title',
          'will-change-all'
        )

      this.$scrollmagic.addScene(sceneReady)
      this.$scrollmagic.addScene(sceneHero)
      this.$scrollmagic.addScene(sceneHeroTitle)
    }
  }
}
</script>
<style lang="scss" scoped>
.section-happy {
  &-title {
    font-weight: 100;
    //font-size: 10rem;
    -webkit-text-stroke-color: $color-block;
    -webkit-text-stroke-width: 1px;
    color: transparent;
  }
}

.hero {
  height: 75vh;
  z-index: 1;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    height: 100vh;
  }

  .background-wrap,
  .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
  }

  .bg {
    mix-blend-mode: lighten;
  }
}
</style>
