<template>
  <div class="gallery-item" :class="oddEven">
    <div class="embed-responsive embed-responsive-1by1">
      <div class="embed-responsive-item">
        <div v-lazy:background-image="image" class="gallery-item__image"></div>
      </div>
    </div>

    <div class="gallery-item__content mt-3">
      <p class="mb-0">{{ location }} — {{ date }}</p>
      <p class="text-secondary mb-0">{{ description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomeGalleryItem',
  props: {
    index: {
      type: Number,
      default: 0
    },
    image: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    date: {
      type: String,
      default: ''
    },
    location: {
      type: String,
      default: ''
    }
  },
  data() {
    return {}
  },
  medthods: {},
  computed: {
    oddEven() {
      return this.index % 2 ? 'odd' : 'even'
    }
  }
}
</script>

<style lang="scss">
.gallery-item {
  --img-cover-bottom: 0;
  position: relative;

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 100%;

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background: white;

      z-index: 1;
      transition: all 1s var(--ease-primary);
      bottom: var(--img-cover-bottom);
    }

    &[lazy='loaded'] {
      &::after {
        --img-cover-bottom: 100%;
      }
    }
  }

  &__content {
    font-size: 0.8rem;
  }
}
</style>
