<template>
  <section class="section section-photos">
    <div class="container">
      <div class="row photos photos__first no-gutters mb-5">
        <div class="col-10 col-md-8 special-photo">
          <div class="special-photo__date">18</div>
          <div class="special-photo-content left mb-3">
            <p class="mb-0">Hồ Chí Minh — Nov 10, 2019</p>
            <p class="text-secondary mb-0">Walking around city</p>
          </div>
          <div :class="getBGRatio" class="embed-responsive v-shadow">
            <div class="embed-responsive-item">
              <div
                v-lazy:background-image="images[0].url"
                class="special-photo-image h-100"
              ></div>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-8 offset-2 special-photo">
          <div :class="getBGRatio" class="embed-responsive v-shadow">
            <div class="embed-responsive-item">
              <div
                v-lazy:background-image="images[1].url"
                class="special-photo-image h-100"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row photos photos__second no-gutters mb-5">
        <div class="col-10 col-md-8 offset-2 offset-md-4 special-photo">
          <div class="special-photo__date">04</div>
          <div class="special-photo-content right mb-3">
            <p class="mb-0">Hồ Chí Minh — Nov 10, 2019</p>
            <p class="text-secondary mb-0">Walking around city</p>
          </div>
          <div :class="getBGRatio" class="embed-responsive v-shadow">
            <div class="embed-responsive-item">
              <div
                v-lazy:background-image="images[2].url"
                class="special-photo-image h-100"
              ></div>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-8 offset-md-2 special-photo">
          <div :class="getBGRatio" class="embed-responsive v-shadow">
            <div class="embed-responsive-item">
              <div
                v-lazy:background-image="images[3].url"
                class="special-photo-image h-100"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <div
            class="d-flex justify-content-center align-items-center py-5 my-5"
          >
            <img
              v-lazy="'img/general/flowers/flower_center_cut.png'"
              class="flower flower__center"
              alt="Mochi Vaanres Flowers Left"
            />

            <btn-action class="btn-hero" link="/Gallery"
              >View Gallery</btn-action
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
/* eslint-disable */
import { TimelineMax, TweenMax, Power1, ExpoScaleEase } from 'gsap/all'
/* eslint-enable */
import BtnAction from '~/components/BtnAction'

export default {
  name: 'HomePhotos',
  components: { BtnAction },
  data() {
    return {
      bgRatio: '4by3',
      willChangeClasses:
        '.special-photo, .special-photo-image, .special-photo__date',
      images: [
        {
          url: 'img/slider/slide_1.jpg'
        },
        {
          url: 'img/slider/slide_2.jpg'
        },
        {
          url: 'img/slider/slide_3.jpg'
        },
        {
          url: 'img/slider/slide_1.jpg'
        }
      ]
    }
  },
  computed: {
    getBGRatio() {
      return `embed-responsive-${this.bgRatio}`
    }
  },
  mounted() {
    this.scrollMagicReady()
    this.bgRatioHandler()
  },
  methods: {
    bgRatioHandler() {
      this.bgRatio = this.isMobile() ? '1by1' : '4by3'
    },
    scrollMagicReady() {
      const sepcialLastPhotos = document.querySelectorAll(
        '.special-photo:last-child'
      )
      const specialPhotos = document.querySelectorAll('.special-photo')

      if (this.isExisted(specialPhotos)) {
        Array.from(specialPhotos).forEach((item) => {
          const sceneImageAppearance = this.$scrollmagic
            .scene({
              triggerElement: item,
              triggerHook: 0.8,
              reverse: false
            })
            .setTween(
              TweenMax.fromTo(
                item.querySelector('.special-photo-image'),
                1,
                {
                  scale: '1.3'
                },
                {
                  scale: '1',
                  ease: ExpoScaleEase.config(2, 1)
                }
              )
            )

          this.$scrollmagic.addScene(sceneImageAppearance)

          if (
            !this.isMobile() &&
            this.isExisted(item.querySelector('.special-photo__date'))
          ) {
            const sceneDate = this.$scrollmagic
              .scene({
                triggerElement: item.querySelector('.special-photo__date'),
                triggerHook: 0.8,
                duration: '100%'
              })
              .setTween(
                TweenMax.fromTo(
                  item.querySelector('.special-photo__date'),
                  1,
                  {
                    opacity: 0.5,
                    y: -100
                  },
                  {
                    opacity: 1,
                    y: 0,
                    ease: Power1.linear
                  }
                )
              )

            this.$scrollmagic.addScene(sceneDate)
          }
        })
      }

      if (this.isExisted(sepcialLastPhotos)) {
        Array.from(sepcialLastPhotos).forEach((item) => {
          const sceneImage = this.$scrollmagic
            .scene({
              triggerElement: item,
              triggerHook: 0.9,
              duration: '300%'
            })
            .setTween(
              TweenMax.fromTo(
                item,
                1.5,
                {
                  y: '0%'
                },
                {
                  y: '-40%',
                  ease: Power1.easeOut
                }
              )
            )

          this.$scrollmagic.addScene(sceneImage)
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.photos {
  position: relative;

  .special-photo {
    position: relative;

    &:last-child {
      position: relative;
      top: 90%;
      z-index: -1;
    }

    &__date {
      font-family: $font-family-serif;
      position: absolute;
      font-weight: 700;

      line-height: 1;

      -webkit-text-stroke-color: $color-block;
      -webkit-text-stroke-width: 1px;
      color: transparent;
      z-index: -2;
      font-size: 30vw;
    }

    &-content {
      font-size: 0.8rem;
    }

    &-image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }

    @include media-breakpoint-up(sm) {
      &__date {
        top: -30%;
        font-size: 20vw;
      }

      &-content {
        position: absolute;
        z-index: 3;

        &.left {
          top: 0;
          right: -1rem;
          transform: rotate(-90deg);
          transform-origin: right top;
        }

        &.right {
          top: 0;
          left: -1rem;
          transform: rotate(90deg);
          transform-origin: left top;
        }
      }
    }
  }
}
</style>
