<template>
  <div class="loading-page">
    <div class="loading-page-mask"></div>
    <div class="d-flex justify-content-center align-items-center h-100">
      <Logo
        :animate="logo.animate"
        :size="logo.size"
        :is-dark="logo.dark"
        @completeAnimation="logoCompleteAnimation"
      />
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import { TimelineMax, Power4, Power1 } from 'gsap/all'
/* eslint-enable */
import Logo from '~/components/Logo'

export default {
  components: { Logo },
  data: () => ({
    loading: false,
    logo: {
      animate: true,
      dark: true,
      size: 160
    },
    timeline: null
  }),

  mounted() {
    const timeline = new TimelineMax({ paused: true })
    timeline.fromTo(
      '.loading-page',
      0.5,
      { scaleY: 0 },
      {
        scaleY: 1,
        transformOrigin: '0% 100%',
        ease: Power1.easeOut
      }
    )
    timeline.fromTo(
      '.loading-page-mask',
      0.5,
      { scaleY: 0 },
      {
        scaleY: 1,
        transformOrigin: '0% 100%',
        ease: Power1.easeOut
      }
    )

    this.timeline = timeline
  },
  methods: {
    ready() {},
    start() {
      this.loading = true
      this.timeline.play()
    },
    finish() {
      this.timeline.reverse()
      this.loading = false
    },
    logoCompleteAnimation(data) {}
  }
}
</script>

<style lang="scss">
// #__layout {
//   pointer-events: none;
// }

.loading-page {
  position: fixed;
  transform: translateZ(0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: white;
  z-index: 1000;

  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    background: $primary;
    z-index: 1001;
    width: 100%;
    height: 100%;
  }

  .logo_svg_wrapper {
    z-index: 1002;
  }
}
</style>
