<template>
  <div v-show="loading" class="loading-page">
    <div :class="{ loading: loading }" class="loading-page-mask"></div>
    <div class="d-flex justify-content-center align-items-center h-100">
      <Logo
        :animate="logo.animate"
        :size="logo.size"
        :is-dark="logo.dark"
        @completeAnimation="logoCompleteAnimation"
        class="animated-logo"
      />
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import { TimelineMax, TweenMax, Power3, Power4 } from 'gsap/all'
/* eslint-enable */
import Logo from '~/components/Logo'

export default {
  components: {
    Logo
  },
  data: () => ({
    loading: false,
    logo: {
      animate: true,
      dark: true,
      size: 160
    },
    timeline: null
  }),

  mounted() {
    this.animationReady()
  },
  methods: {
    ready() {},
    start() {
      this.loading = true
      this.disableScroll()
      this.$store.commit('global/updateLoadingStatus', this.loading)
    },
    finish() {
      this.timeline.play()
    },
    animationReady() {
      const timeline = new TimelineMax({
        paused: true,
        onComplete: this.animationCompleted,
        delay: 2.5
      })

      timeline.fromTo(
        '.animated-logo',
        0.5,
        {
          opacity: 1
        },
        {
          opacity: 0,
          y: -256,
          ease: Power4.easeIn
        }
      )

      timeline.fromTo(
        '.loading-page-mask',
        1,
        { scaleY: 1 },
        {
          scaleY: 0,
          transformOrigin: '0% -100%',
          ease: Power4.easeIn
        },
        '-=0.75'
      )

      this.timeline = timeline
    },
    animationCompleted() {
      this.loading = false
      this.enableScroll()
      this.$store.commit('global/updateLoadingStatus', this.loading)
    },
    noScroll() {
      window.scrollTo(0, 0)
    },
    disableScroll() {
      window.addEventListener('scroll', this.noScroll)
    },
    enableScroll() {
      window.removeEventListener('scroll', this.noScroll)
    },
    logoCompleteAnimation() {}
  }
}
</script>

<style lang="scss">
.loading-page {
  position: fixed;
  transform: translateZ(0);
  top: 0;
  left: 0;
  inline-size: 100vw;
  block-size: 100vh;
  z-index: 1000;
  transition-timing-function: var(--ease-slide);

  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-block;
    inline-size: 100%;
    block-size: 100%;
    //transition-timing-function: var(--ease-slide);
  }

  .animated-logo {
    z-index: 1002;
  }
}
</style>
