<template>
  <div v-show="isMoved" class="main-pointer position-absolute">
    <div class="d-none d-lg-inline-block">
      <div
        :class="{ active: isHover }"
        class="circle d-flex justify-content-center align-items-center"
      >
        <div class="circle__dot"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { TweenMax } from 'gsap/all'
export default {
  name: 'MainPointer',
  data() {
    return {
      isHover: false,
      isMoved: false,
      pointerPosition: {
        x: 0,
        y: 0
      }
    }
  },
  mounted() {
    this.getPointerPosition()

    const circle = document.querySelector('.circle')
    const links = document.querySelectorAll('a, .circle-link')
    const _this = this

    links.forEach((item) => {
      item.addEventListener('mouseover', (event) => {
        _this.isHover = true
      })

      item.addEventListener('mouseout', (event) => {
        _this.isHover = false
      })
    })

    // Init pointer position
    TweenMax.to(circle, 0.5, {
      x: _this.pointerPosition.x,
      y: _this.pointerPosition.y
    })

    // Update pointer position
    window.onmousemove = (e) => {
      _this.isMoved = true

      TweenMax.to(circle, 0.5, {
        x: e.clientX,
        y: e.clientY
      })

      this.pointerPosition.x = e.clientX
      this.pointerPosition.y = e.clientY
    }
  },
  beforeDestroy() {
    this.updatePointerPosition()
  },
  methods: {
    getPointerPosition() {
      const { x, y } = this.$store.state.pointer.position
      this.pointerPosition = { x, y }
    },
    updatePointerPosition() {
      this.$store.commit('pointer/update', this.pointerPosition)
    }
  }
}
</script>

<style lang="scss">
.circle {
  --circle-size: 3rem;
  --circle-position: -1.5rem;
  --circle-border-color: rgba(66, 66, 66, 0.1);
  --circle-dot-color: var(--danger);
  --circle-dot-size: 4px;

  position: fixed;
  border: 1px solid var(--circle-border-color);
  width: var(--circle-size);
  height: var(--circle-size);
  left: var(--circle-position);
  top: var(--circle-position);
  border-radius: 100%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  z-index: 10000;

  &__dot {
    width: var(--circle-dot-size);
    height: var(--circle-dot-size);
    border-radius: 50%;
    background-color: var(--circle-dot-color);
    transition: all 0.3s var(--ease-primary);
  }

  &.active {
    --circle-dot-size: 3rem;
    --circle-dot-color: rgba(66, 66, 66, 0.1);
    --circle-border-color: transparent;
  }
}
</style>
