<template>
  <div
    @click="imageHandler"
    :class="{ open: isOpen }"
    :id="id"
    @mouseover="isHover = true"
    @mouseout="isHover = false"
    class="photobook-item circle-link will-change"
  >
    <div :class="getImageRatio" class="embed-responsive">
      <div class="embed-responsive-item">
        <div
          v-lazy:background-image="getImage"
          class="photobook-item-image will-change"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import { TweenMax, Power4, ExpoScaleEase } from 'gsap/all'
/* eslint-enable */

export default {
  name: 'PhotoBookItem',
  props: {
    index: {
      type: Number,
      default: 0
    },
    id: {
      type: String,
      default: ''
    },
    image: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    date: {
      type: String,
      default: ''
    },
    location: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      isHover: false,
      isOpen: false,
      imageRatio: `4by3`
    }
  },
  computed: {
    getImage() {
      return `img/gallery/${this.index + 1}.jpg`
    },
    getImageRatio() {
      return `embed-responsive-${this.imageRatio}`
    }
  },
  watch: {
    isHover() {
      const scaleTo = this.isHover ? 1.3 : 1

      TweenMax.to(`#${this.id} .photobook-item-image`, 10, {
        scale: scaleTo,
        ease: ExpoScaleEase.config(1, 1.3)
      })
    }
  },
  mounted() {
    this.imageRatioHandler()
  },
  methods: {
    imageRatioHandler() {
      this.imageRatio = this.isMobile() ? '1by1' : '4by3'
    },
    imageHandler() {
      // const _this = this
      this.isOpen = !this.isOpen
      if (this.isOpen) {
        // TweenMax.to(`#${_this.id} .photobook-item-image`, 1, {
        //   scale: 1.1,
        //   ease: Power4.easeOut
        // })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.photobook-item {
  width: 100%;
  height: 100%;

  &-image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}
</style>
