<template>
  <div>
    <section
      class="section section-photobook d-flex justify-content-center align-items-sm-center"
    >
      <div class="container">
        <div class="row no-gutters hero-main">
          <div
            class="col-12 col-md-8 hero-content d-flex justify-content-start align-items-sm-center"
          >
            <div class="hero-content__text mt-5 mb-5">
              <div
                ref="heroTagLine"
                class="hero-tagline tag-line text-secondary"
              >
                Mochi & Vaanres
              </div>
              <h1 ref="heroTitle" class="hero-title mb-0">
                <span
                  ref="heroTitleFirst"
                  class="hero-title__word hero-title__word__first d-block"
                  >Our</span
                >
                <span
                  ref="heroTitleLast"
                  class="hero-title__word hero-title__word__last d-block"
                  >Gallery</span
                >
              </h1>
            </div>
          </div>
        </div>
        <BtnClose link="/" />
      </div>
    </section>
    <section class="photobook">
      <photo-book-item
        v-for="(item, index) in items"
        :id="`photobook-${index}`"
        :key="`photobook-${index}`"
        :index="index"
        :image="item.url"
        :description="item.description"
        :date="item.date"
        :location="item.location"
      ></photo-book-item>
    </section>
  </div>
</template>

<script>
import { TimelineMax, Power4, TweenMax } from 'gsap/all'
import PhotoBookItem from '~/components/PhotoBookItem'
import BtnClose from '~/components/BtnClose'

export default {
  name: 'PhotoBook',
  components: { PhotoBookItem, BtnClose },

  data() {
    return {
      items: [...Array(30)].map((_, i) => i + 1),
      willChangeClasses:
        '.section-photobook .hero-slider, .section-photobook .hero-slider-mask, .section-photobook .hero-tagline, .section-photobook .hero-tagline, .section-photobook .hero-title__word'
    }
  },

  mounted() {
    this.readyAnimation()
    this.scrollReady()
    this.revealAnimation()

    /* const a = [...Array(1000)]
      .map((_, i) => i + 1)
      .filter((item) => {
        return (item % 2 === 0) & (item % 3 === 0)
      })
    console.log(a) */
  },
  methods: {
    readyAnimation() {
      TweenMax.set('.section-photobook .hero-tagline', {
        y: 32,
        opacity: 0
      })

      TweenMax.set('.section-photobook .hero-title__word', {
        y: 32,
        rotationX: 90,
        opacity: 0.5
      })

      TweenMax.set('.section-photobook .btn-close', {
        y: 32,
        opacity: 0
      })

      TweenMax.set('.photobook, .photobook .photobook-item', {
        y: 64,
        scale: 0.9,
        opacity: 0
      })
    },
    revealAnimation() {
      const timeline = new TimelineMax({ paused: true, delay: 0.9 })

      timeline.to(
        '.section-photobook .hero-tagline',
        1,

        {
          y: 0,
          opacity: 1,
          ease: Power4.easeOut
        }
      )

      timeline.staggerTo(
        '.section-photobook .hero-title__word',
        1.5,
        {
          rotationX: 0,
          y: 0,
          opacity: 1,
          transformOrigin: '0 100%',
          ease: Power4.easeOut
        },
        0.15,
        '-=1'
      )

      timeline.to(
        '.photobook',
        1,
        {
          y: 0,
          scale: 1,
          opacity: 1,
          ease: Power4.easeOut
        },
        '-=1'
      )

      timeline.to(
        '.section-photobook .btn-close',
        0.3,
        {
          y: 0,
          opacity: 1,
          ease: Power4.easeOut
        },
        '-=1'
      )

      timeline.play()
    },
    scrollReady() {
      const items = document.querySelectorAll('.photobook .photobook-item')

      if (this.isExisted(items)) {
        items.forEach((item) => {
          const scene = this.$scrollmagic
            .scene({
              triggerElement: item,
              triggerHook: 1,
              reverse: false
            })
            .setTween(
              TweenMax.to(item, 1, {
                y: 0,
                scale: 1,
                opacity: 1,
                ease: Power4.easeOut
              })
            )

          this.$scrollmagic.addScene(scene)
        })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.photobook {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

@supports (display: grid) {
  .photobook {
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4px;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1920px) {
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }
  }
}
</style>
