<template>
  <div ref="scrollUp" class="scrollup circle-link">
    <div
      @click="btnClicked"
      class="scrollup__inner d-flex justify-content-center align-items-center will-change"
    >
      <i class="material-icons will-change">arrow_upward</i>
    </div>
  </div>
</template>

<script>
import { TweenMax, Power4, ScrollToPlugin } from 'gsap/all'

/* eslint-disable */
const plugins = [ScrollToPlugin]
/* eslint-enable */

export default {
  name: 'ScrollUp',
  mounted() {
    this.watchScroll()
  },
  methods: {
    btnClicked(event) {
      this.moveUp()
    },
    moveUp() {
      TweenMax.to(window, 0.1, {
        scrollTo: { y: 0.1, autoKill: false },
        ease: Power4.easeOut
      })
    },
    watchScroll() {
      const sceneReady = this.$scrollmagic
        .scene({
          triggerElement: 'footer.footer',
          triggerHook: 1
        })
        .setClassToggle(
          '.scrollup .scrollup__inner, .scrollup .scrollup__inner i.material-icons',
          'will-change-custom'
        )

      const scene = this.$scrollmagic
        .scene({
          triggerElement: 'footer.footer',
          triggerHook: 0.75
        })
        .setTween(
          TweenMax.fromTo(
            '.scrollup .scrollup__inner',
            0.1,
            { opacity: 0, y: 64 },
            {
              opacity: 1,
              y: 0,
              ease: Power4.easeOut
            }
          )
        )

      this.$scrollmagic.addScene(scene)
      this.$scrollmagic.addScene(sceneReady)
    }
  }
}
</script>

<style lang="scss" scoped>
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 1.5rem rgba(0, 0, 0, 0);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.5rem);
  }
  60% {
    transform: translateY(-0.25rem);
  }
}

.scrollup {
  position: fixed;
  bottom: 4rem;
  right: 4rem;

  .scrollup__inner {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    opacity: 0;
    background-color: transparentize($dark, 0.95);
    border-radius: 50%;
    animation: shadow-pulse 1s infinite;
    user-select: none;
    transition: all 1s var(--ease-primary);
    backdrop-filter: blur(1rem);

    &.will-change-custom {
      --will-change: transform, opacity, box-shadow;
    }

    i.material-icons {
      font-size: 1rem;
    }

    &:hover {
      background-color: transparentize($dark, 0);
      color: white;
      animation-play-state: paused;

      i.material-icons {
        position: relative;
        animation: bounce 1.2s infinite;
      }
    }
  }
}
</style>
