<template>
  <div class="scrollbar d-none d-xl-block">
    <div
      :style="{ transform: scrollBarTransform }"
      class="scrollbar__progress"
    ></div>
  </div>
</template>

<script>
export default {
  name: 'ScrollBar',
  data() {
    return {
      scrollBarPercent: 100
    }
  },
  computed: {
    scrollBarTransform() {
      return `translate3d(0%, -${this.scrollBarPercent}%, 0)`
    }
  },
  mounted() {
    this.calculateScrollPercent()
  },
  methods: {
    calculateScrollPercent() {
      const _this = this
      this.scrollBarPercent = 100 - this.getScrollPercent()

      window.onscroll = (ev) => {
        _this.scrollBarPercent = 100 - _this.getScrollPercent()
      }
    },
    watchIntersection() {
      const _this = this
      const io = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            console.log(entry.isIntersecting)
            _this.show = entry.isIntersecting
          }
        },
        {
          rootMargin: '0px',
          threshold: 1
        }
      )

      io.observe(document.getElementById('btnScrollUp'))
    }
  }
}
</script>

<style lang="scss" scoped>
.scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.3rem;
  overflow: hidden;
  z-index: 1;

  &__progress {
    background: $color-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.1s var(--ease-primary);
  }
}
</style>
