<template>
  <section class="section section-small">
    <p class="section-small__title tag-line">{{ title }}</p>
    <div class="section-small__line divider"></div>
    <div class="section-small__content">
      <slot></slot>
    </div>
  </section>
</template>

<script>
export default {
  name: 'SectionSmall',
  props: {
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {}
  },
  computed: {},
  mounted() {},
  medthods: {}
}
</script>

<style lang="scss" scoped>
.section {
  &-small {
    font-size: 0.8rem;
  }
}
</style>
