<template>
  <nav class="main-sidebar">
    <ul class="main-sidebar__content list-unstyled">
      <li>
        <a class="tag-line v-link" target="_blank" href="#">Gallery</a>
      </li>
    </ul>
  </nav>
</template>
<script>
export default {
  name: 'SideBar'
}
</script>

<style lang="scss">
.main-sidebar {
  position: fixed;
  top: 100px;
  right: 0;
  height: 100vh;
  width: 5rem;
  display: flex;

  align-items: center;

  justify-content: center;
  z-index: 1100;

  &__content {
    transform: rotate(90deg);
    white-space: nowrap;
  }
}
</style>
