@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';

@mixin positioning($top, $left, $bottom, $right) {
  top: $top;
  right: $left;
  bottom: $bottom;
  left: $right;
}

@mixin v-link() {
  --link-color: var(--gray);
  --link-width: 0%;

  color: var(--link-color);
  padding: 0.2rem 0 !important;
  position: relative;
  text-decoration: none !important;
  transition: all 0.3s var(--ease-primary);
  display: inline-block;
  font-weight: 600;

  &:before {
    content: '';
    position: absolute;
    transition: all 0.3s var(--ease-primary);
    bottom: 0;
    display: block;
    height: 1px;
    background-color: var(--dark);
    width: var(--link-width);
  }

  &.nuxt-link-exact-active {
    --link-color: var(--dark);
    --link-width: 100%;
  }

  &:hover,
  &:focus {
    --link-color: var(--dark);
    --link-width: 100%;
  }
}
