.v-loader,
.v-loader:after {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: inline-block;
}

.v-loader {
  position: relative;
  text-indent: -9999em;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-right: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-left: 0.1rem solid #ffffff;
  transform: translateZ(0);
  animation: loading-animation 1.1s infinite linear;
  box-sizing: border-box;
}

@keyframes loading-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
