$themeColor: $primary;
$colors: (
  white: #ffffff,
  black: $secondary
);

:root {
  --swiper-preloader-color: var(--secondary);
  --swiper-bullet-size: 1px;
}

@import './../../node_modules/swiper/swiper.scss';
@import './../../node_modules/swiper/components/pagination/pagination.scss';
@import './../../node_modules/swiper/components/lazy/lazy.scss';

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0.5rem;
}

.swiper {
  &-pagination {
    bottom: 0.5rem;
  }

  &-pagination-bullet {
    width: var(--swiper-bullet-size);
    height: var(--swiper-bullet-size);
    text-align: center;

    opacity: 1;
    background: $secondary;
    border-radius: calc(var(--swiper-bullet-size) * 2);
    transition: width 0.8s var(--ease-primary);

    &-active {
      border-radius: 0px;
      width: 3rem;
    }
  }

  &-lazy-preloader {
    border-width: var(--swiper-bullet-size);
  }

  &-button {
    &-container {
      position: absolute;
      right: 1rem;
      bottom: 0.5rem;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &-next-v,
    &-prev-v {
      display: inline-flex;
      align-self: center;
      justify-self: center;

      &::after {
        color: $dark;
        font-size: 1rem;
        font-family: 'Material Icons';
      }
    }

    &-next-v {
      margin-left: 1rem;
      &::after {
        content: 'arrow_forward';
      }
    }

    &-prev-v {
      &::after {
        content: 'arrow_back';
      }
    }
  }
}
