.transition {
  &__default {
    transition: transform 1s var(--ease-slide);
  }
}

.page {
  &-enter-active,
  &-leave-active {
    transition: transform 0.5s var(--ease-slide);
  }

  &-enter,
  &-leave-active {
    transform: scale(0.9);
    opacity: 0;
  }
}

#__layout {
  --layout-transition: transform 0.35s var(--ease-slide);

  &::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: scaleY(0);
    background-color: $color-block;
    z-index: 1000;
    transition: var(--layout-transition);
  }

  &.layout {
    &-enter-active,
    &-leave-active {
      transition: var(--layout-transition);
    }

    &-leave {
      &::before {
        transform-origin: 0% 100%;
        transform: scaleY(0);
      }
    }

    &-leave-to {
      &::before {
        transform-origin: 0% 100%;
        transform: scaleY(1);
      }
    }

    &-enter {
      &::before {
        transform-origin: 0% -100%;
        transform: scaleY(1);
      }
    }

    &-enter-to {
      &::before {
        transform-origin: 0% -100%;
        transform: scaleY(0);
      }
    }
  }
}

.slide-right {
  &-enter-active {
    transition: all 1s var(--ease-primary);
  }
  &-leave-active {
    transition: all 0.6s var(--ease-primary);
  }

  &-enter,
  &-leave-to {
    transform: translateX(-8rem);
    opacity: 0;
  }
}

.slide-up {
  &-enter-active {
    transition: all 1s var(--ease-primary);
  }
  &-leave-active {
    transition: all 0.6s var(--ease-primary);
  }

  &-enter,
  &-leave-to {
    transform: translateY(4rem);
    opacity: 0;
  }
}

.slide-up-apple {
  &-enter-active {
    transition: all 1s var(--ease-primary);
  }
  &-leave-active {
    transition: all 0.6s var(--ease-primary);
  }

  &-enter,
  &-leave-to {
    transform: translateY(2rem);
    opacity: 0;
  }
}
