@import './variables';
@import './customized_bootstrap';
@import './funcs_mixs';
@import './transitions';
@import './swiper';

:root {
  --ease-primary: cubic-bezier(0.475, 0.425, 0, 0.995);
  --ease-apple-image: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-slide: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

* {
  touch-action: manipulation;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Hide Scroll Bar
  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: scroll;
  overflow-x: hidden;
}

::selection {
  background: $gray-200;
}

body {
  overflow-x: hidden;
  background: $gray-100;
  max-width: 100%;
}

.tag-line {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 0.7rem;
  font-weight: 600;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      @include v-link();
      @extend .tag-line;
    }
  }
}

a.v-link {
  @include v-link();
}

.divider {
  inline-size: 2rem; // width
  block-size: 0.3rem; // height
  background-color: $color-block;
  margin-bottom: 1rem;
}

// Moving Letters
[class*='moving-letters'],
[class*='char'] {
  display: inline-block;
  white-space: pre;
}

@keyframes vshadow {
  0% {
    box-shadow: 0rem 0rem transparentize($color-block, 1);
  }

  100% {
    box-shadow: 0.5rem 0.5rem transparentize($color-block, 0.9);
  }
}

.v-shadow {
  animation-name: vshadow;
  animation-duration: 0.5s;
  animation-timing-function: var(--ease-slide);
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.section {
  &-spacing {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

@include media-breakpoint-down(xs) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* 
.will-change {
  --will-change: auto;

  will-change: var(--will-change);

  &-all {
    --will-change: transform, opacity;
  }

  &-o {
    --will-change: opacity;
  }

  &-t {
    --will-change: transform;
  }
}
 */

.flower {
  user-select: none;
  position: absolute;
  inline-size: var(--flower-size);
  z-index: 1;
  pointer-events: none;
  transition-timing-function: var(--ease-slide);
  &__right {
    right: 0;
    top: 0;

    inline-size: 25vw;
    @include media-breakpoint-down(xs) {
      inline-size: 60vw;
    }
  }

  &__left_middle {
    left: 0;

    inline-size: 15vw;
    @include media-breakpoint-down(xs) {
      inline-size: 40vw;

      top: 80vw;
      left: auto;
      right: 0;
      transform: scaleX(-1);
    }
  }

  &__center {
    inline-size: 70vw;

    @include media-breakpoint-up(sm) {
      inline-size: 50vw;
    }
    @include media-breakpoint-up(md) {
      inline-size: 40vw;
    }
    @include media-breakpoint-up(lg) {
      inline-size: 30vw;
    }
    @include media-breakpoint-up(xl) {
      inline-size: 25vw;
    }
  }
}
