<template>
  <div>
    <Devices />
    <Header />
    <main>
      <nuxt class="nuxt" />
    </main>
    <MainPointer />
    <Footer />
  </div>
</template>

<script>
import { TimelineMax, TweenMax, Power2 } from 'gsap/all'

import Header from '~/components/Header'
import Devices from '~/components/Devices'
import Footer from '~/components/Footer'
import MainPointer from '~/components/MainPointer'

export default {
  components: { Header, Devices, Footer, MainPointer },
  data() {
    return {}
  },
  mounted() {
    this.sectionSmallScrollMagicReady()
    this.flowersScrollReady()
  },
  beforeCreate() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
    })
  },
  beforeMount() {
    this.$nextTick(() => {
      this.$nuxt.$loading.finish()
    })
  },
  methods: {
    getTimelineSectionSmall(object) {
      const timeline = new TimelineMax()

      timeline.fromTo(
        `#${object.id} .section-small__title`,
        0.5,
        { y: 32, rotationX: 90, opacity: 0.5 },
        {
          rotationX: 0,
          y: 0,
          opacity: 1,
          ease: Power2.easeOut
        }
      )

      timeline.fromTo(
        `#${object.id} .section-small__line`,
        0.5,
        { scaleX: 0 },
        {
          scaleX: 1,
          transformOrigin: '0 100%',
          ease: Power2.easeOut
        },
        '-=0.3'
      )

      timeline.staggerFromTo(
        `#${object.id} .section-small__content p`,
        0.5,
        { y: 32, opacity: 0 },
        {
          y: 0,
          opacity: 1,
          ease: Power2.easeOut
        },
        0.1,
        '-=0.3'
      )

      timeline.staggerFromTo(
        `#${object.id} .section-small__highlight span`,
        1,
        { y: 32, rotationX: 90, opacity: 0.5 },
        {
          rotationX: 0,
          y: 0,
          opacity: 1,
          transformOrigin: '0 100%',
          ease: Power2.easeOut
        },
        0.1,
        '-=0.5'
      )

      return timeline
    },
    flowersScrollReady() {
      const flowers = document.querySelectorAll(
        '.flower.flower__right, .flower.flower__left_middle'
      )

      if (this.isExisted(flowers)) {
        const _this = this

        flowers.forEach((item) => {
          const scene = _this.$scrollmagic
            .scene({
              triggerElement: item,
              triggerHook: 0,
              duration: '300%'
            })
            .setTween(
              TweenMax.fromTo(
                item,
                1,
                {
                  y: 0
                },
                {
                  y: -160
                }
              )
            )

          _this.$scrollmagic.addScene(scene)
        })
      }
    },
    sectionSmallScrollMagicReady() {
      const sections = document.querySelectorAll('.section.section-small')
      const _this = this
      let id = 0
      if (this.isExisted(sections)) {
        sections.forEach((item) => {
          item.id = `section-small-${id++}`
          const timeline = _this.getTimelineSectionSmall(item)

          const scene = _this.$scrollmagic
            .scene({
              triggerElement: item,
              triggerHook: 0.8,
              // duration: '100%',
              // offset: -150,
              reverse: false
            })
            .setTween(timeline)

          _this.$scrollmagic.addScene(scene)
        })
      }
    }
  }
}
</script>
