<template>
  <div>
    <Devices />
    <main>
      <nuxt class="nuxt" />
    </main>
    <MainPointer />
    <ScrollBar />
  </div>
</template>

<script>
import Devices from '~/components/Devices'
import MainPointer from '~/components/MainPointer'
import ScrollBar from '~/components/ScrollBar'

export default {
  components: { Devices, ScrollBar, MainPointer }
}
</script>
