<template>
  <div>
    <img
      v-lazy="'img/general/flowers/flower_right_cut.png'"
      class="flower flower__right"
      alt="Mochi Vaanres Flowers Right"
    />
    <PhotoBook />
    <HomeHappy />
  </div>
</template>

<script>
import PhotoBook from '~/components/PhotoBook'
import HomeHappy from '~/components/HomeHappy'

export default {
  layout: 'raw',
  components: { PhotoBook, HomeHappy }

  /*  mounted() {
    const _this = this
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      setTimeout(() => {
        this.$nuxt.$loading.finish()
        _this.revealPhotobook = true
      }, 1000)
    })
  } */
}
</script>
