<template>
  <div>
    <img
      v-lazy="'img/general/flowers/flower_right_cut.png'"
      class="flower flower__right"
      alt="Mochi Vaanres Flowers Right"
    />

    <HomeHero />
    <HomeIntroduction />
    <HomePhotos />
    <HomeHappy />
  </div>
</template>

<script>
import HomeHero from '~/components/HomeHero'
import HomeIntroduction from '~/components/HomeIntroduction'
import HomePhotos from '~/components/HomePhotos'
import HomeHappy from '~/components/HomeHappy'

export default {
  components: { HomeHero, HomeIntroduction, HomePhotos, HomeHappy }
}
</script>
