<template>
  <div class="main-loading">
    <!-- <img src="/logo_dark.svg" alt="logo" /> -->
  </div>
</template>
<script>
export default {
  layout: 'empty',
  components: {}
}
</script>
<style lang="scss" scoped>
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.main-loading {
  position: fixed;
  top: 0;
  left: 0;
  block-size: 100vh;
  inline-size: 100vw;
  background-color: #bdbdbd;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 160px;
    height: 160px;
    animation: spinner 10s linear infinite;
  }
}
</style>
